.App-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.App {
    padding: 16px;
    width: 400px;
}

.heading {
    padding: 8px;
    background-color: #bbb;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.actions {
    cursor: pointer;
}

.actions .action {
    margin: 0 8px;
    padding: 4px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.list-item-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ccc;
    padding: 10px;
}

.list-container{
    padding: 10px;
}

.input{
    border: 1px solid #ccc;
    width: 374px;
    height: 48px;
}

.pagination-container {
    margin-top: 8px;
    display: flex;
    justify-content: space-between;
}

.pagination-container .arrow {
    margin: 4px;
    cursor: pointer;
}
